html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.heading-primary {
  font-size: 6rem;
}

.btn {
  font-size: 2rem;
  padding: 0.8rem 1rem;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 1px 3px #ccc;
  transition: all 0.1s;
  &:hover {
    box-shadow: 0px 3px 8px #ccc;
    transform: translateY(-2px);
  }
}

.search {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__input {
    margin: 0 auto;
    font-size: 4rem;
    height: 4rem;
  }
  &__button {
    margin-right: 5rem;
    margin-top: 1rem;
  }
}
